header, main, footer {
    padding-left: 300px;
}

.header-bg {  
  margin-left: 260px !important;
  width: 80% !important;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }

  .header-bg {
    margin-left: 0 !important;
    width: 100% !important;
  }
}
